# Dependency directories
node_modules/
jspm_packages/

# Playwright-specific test outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/
.auth/

# Newman report outputs
reports/newman/

# Local environment files
.env
.env.dev
.env.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Collections and environments
environment.json
